html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #27ae60;
  }

header{
  position:fixed;
  width:100%;
  align-items: center;

}
.container {
    width: 15%;
    height: 30%;
    border-radius: 50%;
    position: relative;
    left: 20px;
    top: 100px;
    
    
  }


  /* nav ul {
    list-style: none;
    padding-left: 10;
    margin-top: 10;
    margin-bottom: 10;
  }
   */
  h1{
    width: 700px;
    margin: 100px 250px 50px;
    color: #f0f0f0;
    text-align: center;
    
  }
  
  .nav {
    width: 60%;
    margin: 0 auto;
    background: #1e8449;
    color: #f0f0f0;
    /* overflow: hidden;
    background: #1e8449;
    position: fixed;
    top: 10;
    width: 100%;
    color: #f0f0f0; */
  }
  .nav a {
    display:flex;
    padding: 0 50px;
    line-height: inherit;
    cursor: pointer;
  }
  .nav__menu {
    line-height: 60px;
    
    font-weight: 400;
    text-transform: uppercase;
    

  }
  .nav__menu-item {
    display:inline-block;
    position:relative;
    
    
  }
  .nav__menu-item:hover {
    background-color: #9b354bc7;
  }
  .nav__menu-item:hover .nav__submenu {
    display: block;
  }
  .nav__submenu {
    font-weight: 280;
    text-transform: none;
    display: none;
    position: absolute;
    width: 350px;
    background-color: #9b59b6;
  }
  .nav__submenu-item:hover {
    background: #9b354bc7;//rgba(0, 0, 0, 0.1);
    padding-color: red;
  }

  .nav, .nav > a, .nav_menu, .nav_menu-item {
    text-align: center;
  }
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    border-radius: 30%;
    background-color: rgba(235, 234, 184, 0.884);
    background-image: linear-gradient(62deg, #94a7b9 0%, #674688 100%);
  }
  
  .welcome-section > p {
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    color: rgb(0, 255, 115);
  }

iframe.relative {
    position:relative;
    left: 20px;
    top: 20px;
    border-radius: 2%;
    border-width: 10px;
    border-color: rgba(172, 119, 240, 0.719);
    border-style:groove;
  }

  #miroboard {
    display:flex;
    position:relative;
    left: 150px;
    top:50px;
  }

  #lemons-lemonade, #zero-carbon {
    display:flex;
    position:relative;
    
    
 
  }
  
 