@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: #231f20;
}

header {
  width: 100%;
  height: 7rem;
  padding: 20px;
  background-color: #efefef;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container img {
  width: 12.5rem;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin: 0 20px;
}

.nav-list li a {
  text-decoration: none;
  font-size: 1rem;
  color: #231f20;
  font-weight: 600;
}

.nav-list li a.active-nav {
  color: red;
}

.nav-cta {
  width: 150px;
  height: 35px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: red;
  color: #efefef;
  cursor: pointer;
}

section {
  width: 100%;
}

article {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 300px;
  margin: 50px auto;
  border: 1px solid #dddddd;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section article .article-img-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: 300px;
}

section article:first-child .article-img-container {
  background-image: url(./image/Erick-850x697.jpg);
}

section article:nth-child(2) .article-img-container {
  background-image: url(./image/Learning-code-850x577.jpg);
}

section article:nth-child(3) .article-img-container {
  background-image: url(./image/Laptop-850x599.jpg);
}

.arcticle-content-container {
  width: 70%;
  padding: 50px;
}

article h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
article p {
  font-size: 0.9rem;
  margin-bottom: 15px;
}

article p span {
  color: red;
  text-decoration: underline;
  text-align: justify;
  cursor: pointer;
}

article h4 {
  font-size: 0.9rem;
  color: #ada9a9;
  text-decoration: underline;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  width: 100%;
  height: 70px;
  color: #efefef;
  background-color: red;
}

@media (max-width: 1350px) {
  section article {
    width: 60%;
  }
  article p {
    font-size: 0.8rem;
    margin-bottom: 15px;
  }
}

@media (max-width: 1100px) {
  section article .article-img-container {
    display: none;
  }
  .arcticle-content-container {
    width: 100%;
  }
  section article {
    width: 50%;
  }
} ;
