html {
    background-color: rgb(34, 4, 18);
}

p {
    font-size: 1.2em;
    color: rgb(252, 169, 183);
}

.header {
    background-color: rgb(37, 9, 19);
}
.header h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    text-decoration: overline;
    letter-spacing: 0.1rem;
}
h2 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
}
h3 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
}
.header img {
    /* sorts out centering of the cover image */
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    /* adds the border */
    border-style: solid;
    border-color: rgb(36, 2, 10);
    border-width: 0.5em;
    border-radius: 0.6em;
}

#article-section article:first-child {
    background-color: orange; /* place holder test color */
    
}

.game-article {
    padding: 1em;
    background-color: rgb(37, 9, 19);
    color: rgb(255, 255, 255);
}
.game-article h2 {
    text-align: center;
    text-decoration: underline;
}
.game-article h3 {
    text-decoration: overline;
    text-align: center;
}
.game-article img {
    /* sizes and centers the image */
    display: block;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    /* adds the border */
    border-style: solid;
    border-color: rgb(36, 2, 10);
    border-width: 0.5em;
    border-radius: 0.6em;
}