html {
    background-color: rgb(50, 38, 54);
}
.header {
    background-color: rgb(37, 9, 19);
}
.header img {
    /* sorts out centering of the cover image */
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    /* adds the border */
    border-style: solid;
    border-color: rgb(45, 8, 71);
    border-width: 0.5em;
    border-radius: 0.6em;
}