html {
    background-color: #03071e;
}

p {
    font-size: 1.2em;
    color: #faa307;
    text-align: center;
}

.header {
    background-color: #6a040f;
}
.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #370617;
    overflow: hidden;
}
.nav-bar ul li {
    display: inline;
    float: left;
}
.nav-bar ul li a {
    display: block;
    padding: 1em;
    background-color: #370617;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-bar ul li a:hover {
    background-color: #2c000f;
}

.header h1 {
    text-align: center;
    color: #ffba08;
    font-family: 'Bebas Neue', cursive;
    text-decoration: overline;
    letter-spacing: 0.1rem;
}
h2 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
}
h3 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1em;
}
.header img {
    /* sorts out centering of the cover image */
    display: block;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

    /* adds the border */
    border-style: solid;
    border-color: #370617;
    border-width: 0.5em;
    border-radius: 0.6em;
}

#article-section article:first-child {
    background-color: #9d0208; /* place holder test color */
    
}

.game-article {
    padding: 1em;
    background-color: #370617;
    color: #faa307;
}
.game-article h2 {
    text-align: center;
    text-decoration: underline;
}
.game-article h3 {
    text-decoration: overline;
    text-align: center;
}
.game-article img {
    /* sizes and centers the image */
    display: block;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    /* adds the border */
    border-style: solid;
    border-color: #370617;
    border-width: 0.5em;
    border-radius: 0.6em;
}