body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
}

header {
    background-color: #2980b9;
    color: white;
    text-align: center;
    padding: 50px 0px;
}

.section-article {
    display: flex;
    justify-content: center;
}

.article {
    width: 30%;
    background-color: #ecf0f1;
    padding: 20px;
    margin: 20px;
}